*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #e0abb7;
  line-height: 1.5;
}
.title {
  font-family: "Fleur De Leah", cursive;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
.fonts {
  font-family: "Poiret One", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
.fable {
  {
  font-family: "Poiret One", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #520012;
}

  
